
<div id="current-state">
  <div class="heading">
    <h1>Manager: <%= @manager.name %></h1>
    <h3>current state:</h3>
  </div>

  <div class="">
    <h5>zipcode: <%= @manager.zipcode %></h5>
  </div>
  <div class="">
  <h5>mode: <%= @manager.mode %></h5>
  </div>
  <div class="">
    <h5>vent_open_temp: <%= @manager.roof_open_temp %></h5>
  </div>
  <div class="">
    <h5>vent_close_temp: <%= @manager.roof_close_temp %></h5>
  </div>

  <% if @manager.logs %>
    <div class="">
     <p>current temp: <%= @manager.logs.last.temp %></p>
     <p>current humidity: <%= @manager.logs.last.humidity %></p>
     <p>current ambient light: <%= @manager.logs.last.light %></p>
     <p>current state: <%= @manager.logs.last.actuator_state %></p>
   </div>
  <% end %>

  <div class="">
    <button id="edit_manager_settings" class="rounded_button" type="button" name="edit_settings">edit settings</button>
  </div>

</div>
